<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>destination</key>
	<string>export</string>
	<key>manageAppVersionAndBuildNumber</key>
	<true/>
	<key>method</key>
	<string>app-store</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.Pane.DDaRa</key>
		<string>DDaRa</string>
	</dict>
	<key>signingCertificate</key>
	<string>E3B9271B0ACF3042D94C293A4819F64BAB3B115B</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>CB95NTZJ5Z</string>
	<key>uploadSymbols</key>
	<true/>
</dict>
</plist>
